* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 40px;
}

.board {
    display: grid;
    width: 300px;
    height: 280px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 80px;
    cursor: pointer;
}

button {
    padding: 10px;
}